.header{
    width: 100%;
    height: 387px;
    background: rgba(197, 1, 10, 1);
    padding-top: 32px;
}
.navbar{
    display: flex;
    width: 90%;
    height: 56px;
    background: rgba(197, 1, 10, 1);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.rels{
    font-family: 'Mulish', sans-serif;
    display: flex;
    column-gap: 27px;
    width: 618px;
    height: 19px;
}
.liink{
    text-decoration: none;
    color: #fff;
}
.account{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.Add{
    cursor: pointer;
    width: 158px;
    height: 48px;
    border-radius: 8px;
    background: rgba(250, 60, 69, 1);
    border: none;
    color: #fff;
}
.iconAccount{
    width: 40px;
    height: 40px;
    
}
.Name{
    padding-top: 123px;
    font-family: 'Mulish', sans-serif;
    font-size:62px;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.Main{
    width: 1232px;
    margin: 0 auto;
    padding-left: 104px;

}
.Nav{
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 80px;
}
.Content{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.ContentLeft{
    width: 816px;
}
.video{
    display: flex;
    width: 816px;
    height: 440px;
    background:rgba(226, 226, 234, 1);
    border-radius: 8px;
    align-items: center;
}
.play{
    width: 66px;
    height: 66px;
    margin: 0 auto;
}
.Des{
    
    padding-top: 56px;
    font-weight: 700;
    font-size: 31px;
}
.subtitleDes{
    color:rgba(146, 146, 157, 1);
}
.form{
    width: 720px;
    margin-top: 56px;
    padding-top: 48px;
    padding-left: 48px;  
    padding-right: 48px;
    padding-bottom: 8px;
    
}
.title{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size:39px;

}
.Sub{
    padding-bottom: 45px;
    color:rgba(146, 146, 157, 1);
}
.anket{
    display: flex;
    justify-content: space-between;
    width: 740px;
    height: 570px;
    flex-wrap: wrap;
    column-gap: 14px;
    margin-bottom: 48px;
}
.pp{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom:21px ;
    margin-top: 32px;
}
.Price{
    width: 100%;
    height: 56px;
    border-color:rgba(250, 60, 69, 1);
    border-radius: 8px;
    padding-left: 16px;
}
.Iterest{
    width: 352px;
    height: 56px;
    border-color:rgba(250, 60, 69, 1);
    border-radius: 8px;
    padding-left:5px;
}
.InputBottom{
    width: 100%;
    height: 56px;
}
.paymet{
    height: 56px;
    width: 97.3%;
    border-color:rgba(250, 60, 69, 1);
    border-radius: 8px;
    padding-left: 16px;
}
.BtnAnket{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 48px;
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    border-radius:8px;
    background:rgba(250, 60, 69, 1);
    color: #fff;
    cursor: pointer;
}
.ConatainerRight{
    width: 400px;
}
.promo{
    width: 100%;
    height: 560px;
    background:rgba(197, 1, 10, 1);
    border-radius: 8px;
    text-decoration: 0.6s;
    opacity: 0.5;
}
.promo:hover{
    transition-duration: 0.6s;
    opacity: 1;
}
.TitlePromo{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size:39px;
    width:263px;
    display: block;
    text-align: center;
    padding-top: 166px;
    margin: 0 auto;
    color: #fff;
}
.SubtitlePromo{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 24px;
    width:226px;
    margin: 0 auto;
    flex-wrap: wrap;
    color: #fff;
}
.BtnPromo{
    display: block;
    margin: 40px auto 0 auto;
    cursor: pointer;
    width: 102px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    background: none;
}
.ContactDealer{
    width: 100%;
    height: 590px;
    margin-top: 16px;
}
.contact{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 39px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 32px;
}
.YourNme{
    display: block;
    margin: 0 auto;
    height: 56px;
    width: 70%;
    border-color: rgba(250, 60, 69, 1);
    border-radius: 8px;
}
.YourEmail{
    display: block;
    margin: 0 auto;
    height: 56px;
    width: 70%;
    border-color: rgba(250, 60, 69, 1);
    border-radius: 8px;
    margin-top: 24px;
}
.YourMessages{
    display: block;
    margin: 0 auto;
    height: 120px;
    width: 70%;
    border-color: rgba(250, 60, 69, 1);
    border-radius: 8px;
    margin-top: 24px;
}
.Send{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 168px;
    height: 56px;
    margin-top: 59px;
    margin-left:63px;
    border: none;
    border-radius: 8px;
    background: rgba(250, 60, 69, 1);
    color: #fff;
    cursor: pointer;
}
.download{
    width: 100%;
    height: 720px;
}
.App{
    display: flex;
    width: 71%;
    height: 720px;
    margin: 0 auto;
    
}
.Iphone{
    width: 443px;
    height: 640px;
    padding-top: 80px;
}
.tit{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.su{
    margin-top: 22px;
    width: 530px;
    height: 76px;
}
.OurApp{
    padding-left: 123px;
    padding-top: 147px;
}
.List{
    display: flex;
}
li{
    display: flex;
    column-gap: 16px;
    margin-top: 19px;
}
.one{
    margin-top: 56px;
}
.btnDownload{
    display: flex;
    width:202.5px;
    border-radius: 10px;
    column-gap: 24px;
    margin-top: 43px;
}
.Apple{
    width:193px;
}
.btnAndroid{
    background: black;
    border-radius: 10px;
    cursor: pointer;
}
.btnApple{
    background:rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.PremiumAndFree{
    width: 70%;
    height: 100px;
    margin: 0 auto;
    margin-top: 134px;
    
}
.Wanna{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}
.SubWanna{
    text-align: center;
    margin-top: 24px;
}
.Premium{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16;
    width: 192px;
    height: 56px;
    background: rgba(250, 60, 69, 1);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btnPremiumAndFree{
    display: flex;
    width: 30%;
    margin: 0 auto;
    margin-top: 57px;
    column-gap: 16px;
}
.Free{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16;
    width: 156px;
    height: 56px;
    border: 2px solid #FA3C45;
    border-radius: 8px;
    color: #FA3C45;
    cursor: pointer
}
.footer{
    width: 100%;
    height: 407px;
    background: rgba(197, 1, 10, 1);
    margin-top: 235px;
    padding-top: 71px;
}
.containerFooter{
    display: flex;
    width: 90%;
    height: 95%;
    margin: 0 auto;
}
.text{
    width: 196px;
    height: 72px;
    color: #fff;
    padding-top: 24px;
}
.Tonah{
    padding-top: 210px;
    color: #fff;
}
.colm2{
    margin-left: 240px;
    margin-top: 30px;
    width: 74px;
}
.Company{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 29px;
}
.ListCompany{
    width: 100%;
    color: #fff;
    
}
.List{
    display: block;
    margin-top: 10px;
}
.colm3{
    margin-left: 240px;
    margin-top: 30px;
    width: 74px;
}
.Social{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 29px;
}
.Soc{
    color: #fff;
}
.colm4{
    width: 255px;
    height: 104px;
    margin-top: 30px;
    margin-left: 160px;
}